<?xml version="1.0" encoding="UTF-8"?>  
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"   
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">  
      
   <!-- 
    idea可以设置为重新这项配置，正常情况设置成一样
   -->      
   <localRepository>${user.home}\Google 云端硬盘\properties\maven\m2\repository</localRepository>
  
  <pluginGroups>
    <!-- 当插件的组织Id（groupId）没有显式提供时，供搜寻插件组织Id（groupId）的列表。该元素包含一个pluginGroup元素列表，
	每个子元素包含了一个组织Id（groupId）。当我们使用某个插件，并且没有在命令行为其提供组织Id（groupId）的时候，
	Maven就会使用该列表。默认情况下该列表包含了org.apache.maven.plugins和org.codehaus.mojo 
    -->  
    <pluginGroup>org.apache.maven.plugins</pluginGroup>  
    <pluginGroup>org.codehaus.mojo</pluginGroup>
  </pluginGroups>
  
  <proxies>  
  </proxies>  
  
  <servers>  
    <server>  
        <id>releases</id>  
        <username>deployment</username>  
        <password>deployment123</password>  
    </server>  
    <server>  
        <id>snapshots</id>  
        <username>deployment</username>  
        <password>deployment123</password>  
    </server>    
  </servers>  
  
  <profiles>    
    <profile>  
        <id>nexus</id>  
        <repositories>  
          <repository>  
            <id>nexus</id>  
            <name>Nexus</name>  
            <url>http://192.168.1.3:9081/nexus/content/groups/public/</url>  
            <releases><enabled>true</enabled></releases>  
            <snapshots><enabled>true</enabled></snapshots>  
          </repository>  
        </repositories>  
        <pluginRepositories>  
          <pluginRepository>  
            <id>nexus</id>  
            <name>Nexus</name>  
            <url>http://192.168.1.3:9081/nexus/content/groups/public/</url>  
            <releases><enabled>true</enabled></releases>  
            <snapshots><enabled>true</enabled></snapshots>  
          </pluginRepository>  
        </pluginRepositories>  
    </profile>  
   </profiles>    
  
  <activeProfiles>  
    <activeProfile>nexus</activeProfile>  
  </activeProfiles>  
</settings>  
  
